// app global css in SCSS form
.pwan-blue  {
    background: #0c0144; 
    -webkit-text-fill-color: white;
}
.pwan-red{
    background-color: #c60a0a;
    -webkit-text-fill-color: white;
}
.pwan-button{
    background-color: #c60a0a;
    -webkit-text-fill-color: white;
}my-card

.pwan-table-red  {
    background-color: #c60a0a;
    -webkit-text-fill-color: white;
}

.app-bg {
    background-image: url('/images/background-image.png');
    background-size: cover; /* adjust as needed */
    background-position: center; /* adjust as needed */
    min-height: 100vh; /* ensure full viewport height */
  }
   .gradient-background {
      background: linear-gradient(45deg, #d58787, #a40303);
      height: 100vh; /* Full viewport height */
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Space between cards */
      }
      
      .my-card {
        width: 200px; /* Fixed width */
        height: 100px; /* Fixed height */
        cursor: pointer;
      }

      .my-card-d {
        width: 400px; /* Fixed width */
        height: auto; /* Fixed height */
        cursor: pointer;
      }


  